In [21]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import datetime as dt
import plotly.express as px
import plotly.graph_objects as go

In [2]:
csv_file = "Formatted_ETAS_Output.csv"
etas = pd.read_csv(csv_file, sep = ',', lineterminator='\n')
etas.head()

       Date        Time         Year         X        Y  Magnitude     Z\r
0  12/31/59  0:03:09.00  1960.002196 -119.0502  33.9790       6.50  8.2474
1    1/2/60  0:08:49.00  1960.006125 -115.6222  33.0793       4.25  7.9322
2    1/2/60  0:10:31.00  1960.007305 -115.6323  33.1220       3.03  8.4015
3    1/2/60  0:10:32.00  1960.007320 -115.5851  33.0745       3.03  7.9678
4    1/2/60  0:11:07.00  1960.007720 -115.6256  33.0290       3.08  7.9737

In [3]:
csv_file = "All (1960-2023).csv"
usgs = pd.read_csv(csv_file, sep = ',', lineterminator='\n', dtype={'time':str})
usgs.head()

C:\Users\deyan\AppData\Local\Temp\ipykernel_6504\3779433482.py:2: DtypeWarning: Columns (1,2,3,4,6,7,8,9,15,16,17,18) have mixed types. Specify dtype option on import or set low_memory=False.
  usgs = pd.read_csv(csv_file, sep = ',', lineterminator='\n', dtype={'time':str})

,time,latitude,longitude,depth,mag,magType,nst,gap,dmin,rms,...,updated,place,type,horizontalError,depthError,magError,magNst,status,locationSource,magSource\r
0,2023-10-12T21:41:21.480Z,36.4661674,-120.8755035,15.85,3.15,ml,60,135,0.1035,0.2,...,2023-10-13T19:19:02.194Z,"19 km WNW of New Idria, CA",earthquake,0.4,0.61,0.175,21,automatic,nc,nc\r
1,2023-10-08T21:30:23.900Z,38.8271667,-122.804,1.75,3.87,mw,108,20,0.006058,0.06,...,2023-10-14T02:06:32.597Z,"7 km NW of The Geysers, CA",earthquake,0.07,0.11,NaN,3,reviewed,nc,nc\r
2,2023-10-05T03:09:58.000Z,35.041,-117.661,0.79,3.52,ml,63,40,0.1102,0.15,...,2023-10-06T21:24:55.024Z,"5 km NNW of Boron, CA",earthquake,0.12,0.32,0.15,156,reviewed,ci,ci\r
3,2023-10-01T19:29:36.760Z,40.2915,-124.2905,9.59,3.61,mw,40,115,0.0308,0.17,...,2023-10-10T16:43:18.991Z,"4 km S of Petrolia, CA",earthquake,0.36,0.21,NaN,4,reviewed,nc,nc\r
4,2023-10-01T15:41:29.620Z,40.2951667,-124.287,9.8,4.09,mw,42,105,0.02685,0.17,...,2023-10-02T02:34:55.127Z,"3 km S of Petrolia, CA",earthquake,0.37,0.23,NaN,4,reviewed,nc,nc\r

In [4]:
#converting the Date column into datetime format
etas["Date"] = pd.to_datetime(etas["Date"], errors="coerce", format="%m/%d/%y")
etas.loc[etas["Date"].dt.year > pd.Timestamp.now().year, "Date"] -= pd.DateOffset(years=100)

etas.head()

        Date        Time         Year         X        Y  Magnitude     Z\r
0 1959-12-31  0:03:09.00  1960.002196 -119.0502  33.9790       6.50  8.2474
1 1960-01-02  0:08:49.00  1960.006125 -115.6222  33.0793       4.25  7.9322
2 1960-01-02  0:10:31.00  1960.007305 -115.6323  33.1220       3.03  8.4015
3 1960-01-02  0:10:32.00  1960.007320 -115.5851  33.0745       3.03  7.9678
4 1960-01-02  0:11:07.00  1960.007720 -115.6256  33.0290       3.08  7.9737

In [5]:
#converting the Date column into datetime format
usgs["time"] = pd.to_datetime(usgs["time"], errors="coerce").dt.strftime("%Y-%m-%d")
usgs.head()

,time,latitude,longitude,depth,mag,magType,nst,gap,dmin,rms,...,updated,place,type,horizontalError,depthError,magError,magNst,status,locationSource,magSource\r
0,2023-10-12,36.4661674,-120.8755035,15.85,3.15,ml,60,135,0.1035,0.2,...,2023-10-13T19:19:02.194Z,"19 km WNW of New Idria, CA",earthquake,0.4,0.61,0.175,21,automatic,nc,nc\r
1,2023-10-08,38.8271667,-122.804,1.75,3.87,mw,108,20,0.006058,0.06,...,2023-10-14T02:06:32.597Z,"7 km NW of The Geysers, CA",earthquake,0.07,0.11,NaN,3,reviewed,nc,nc\r
2,2023-10-05,35.041,-117.661,0.79,3.52,ml,63,40,0.1102,0.15,...,2023-10-06T21:24:55.024Z,"5 km NNW of Boron, CA",earthquake,0.12,0.32,0.15,156,reviewed,ci,ci\r
3,2023-10-01,40.2915,-124.2905,9.59,3.61,mw,40,115,0.0308,0.17,...,2023-10-10T16:43:18.991Z,"4 km S of Petrolia, CA",earthquake,0.36,0.21,NaN,4,reviewed,nc,nc\r
4,2023-10-01,40.2951667,-124.287,9.8,4.09,mw,42,105,0.02685,0.17,...,2023-10-02T02:34:55.127Z,"3 km S of Petrolia, CA",earthquake,0.37,0.23,NaN,4,reviewed,nc,nc\r

In [6]:
#filter the dataset by Date > 1960-01-01 and Date < 2023-01-01 
etas = etas[(etas['Date'] > pd.to_datetime('1960-01-01')) & (etas['Date'] < pd.to_datetime('2023-01-01'))]

#filter the dataset by X > -123 and X < -113 and Y > 29 and Y < 39
etas = etas[etas['X'] > -123]
etas = etas[etas['X'] < -113]
etas = etas[etas['Y'] < 39]
etas = etas[etas['Y'] > 29]

etas.head()

        Date        Time         Year         X        Y  Magnitude     Z\r
1 1960-01-02  0:08:49.00  1960.006125 -115.6222  33.0793       4.25  7.9322
2 1960-01-02  0:10:31.00  1960.007305 -115.6323  33.1220       3.03  8.4015
3 1960-01-02  0:10:32.00  1960.007320 -115.5851  33.0745       3.03  7.9678
4 1960-01-02  0:11:07.00  1960.007720 -115.6256  33.0290       3.08  7.9737
5 1960-01-02  0:11:17.00  1960.007840 -115.6050  33.0276       3.61  7.9322

In [7]:
#filter the dataset by Date > 1960-01-01 and Date < 2023-01-1 
usgs = usgs[(pd.to_datetime(usgs['time']) > pd.to_datetime('1960-01-01')) & (pd.to_datetime(usgs['time']) < pd.to_datetime('2023-01-01'))]

usgs['longitude'] = pd.to_numeric(usgs['longitude'], errors='coerce')
usgs['latitude'] = pd.to_numeric(usgs['latitude'], errors='coerce')

#filter the dataset by X > -123 and X < -113 and Y > 29 and Y < 39
usgs = usgs[usgs['longitude'] > -123]
usgs = usgs[usgs['longitude'] < -113]
usgs = usgs[usgs['latitude'] < 39]
usgs = usgs[usgs['latitude'] > 29]
usgs.head()

,time,latitude,longitude,depth,mag,magType,nst,gap,dmin,rms,...,updated,place,type,horizontalError,depthError,magError,magNst,status,locationSource,magSource\r
240,2022-12-31,33.397500,-116.393333,3.88,4.14,mw,132,16,0.07391,0.19,...,2023-09-22T21:50:30.029Z,"16 km N of Borrego Springs, CA",earthquake,0.1,0.38,NaN,6,reviewed,ci,ci\r
241,2022-12-31,34.355667,-116.921833,4.73,3.47,mw,121,25,0.07845,0.15,...,2023-03-07T19:00:01.040Z,"11km SSE of Lucerne Valley, CA",earthquake,0.09,0.41,NaN,4,reviewed,ci,ci\r
246,2022-12-22,37.620167,-122.025000,3.82,3.34,mw,141,16,NaN,0.16,...,2023-04-20T04:34:00.806Z,"3km N of Union City, CA",earthquake,0.1,0.17,NaN,3,reviewed,nc,nc\r
262,2022-12-17,37.918167,-122.304000,5.48,3.57,mw,170,19,0.01598,0.15,...,2023-07-27T08:15:34.318Z,"1km ENE of El Cerrito, CA",earthquake,0.1,0.17,NaN,4,reviewed,nc,nc\r
263,2022-12-13,36.604667,-121.209333,8.88,3.28,ml,67,55,0.03812,0.09,...,2023-02-18T22:04:08.040Z,"10km NW of Pinnacles, CA",earthquake,0.14,0.28,0.129,72,reviewed,nc,nc\r

In [8]:
time = []
for i in usgs['time']:
    time.append(pd.to_datetime(i))
usgs['time'] = time

In [9]:
usgs['mag'] = pd.to_numeric(usgs['mag'], errors='coerce')

In [10]:
# Mean magnitude for each day
mean_mag_etas = pd.DataFrame(etas.groupby(etas['Date'].dt.to_period('D')).Magnitude.mean())
print(mean_mag_etas)

# Sum of magnitudes for each day
sum_mag_etas = pd.DataFrame(etas.groupby(etas['Date'].dt.to_period('D')).Magnitude.sum())
print(sum_mag_etas)

            Magnitude
Date
1960-01-02   3.388333
1960-01-03   3.500000
1960-01-04   3.507500
1960-01-05   3.400000
1960-01-06   3.158000
...               ...
2022-12-26   3.470000
2022-12-27   3.370000
2022-12-28   3.435000
2022-12-29   4.045000
2022-12-31   3.475000

[18880 rows x 1 columns]
            Magnitude
Date
1960-01-02      20.33
1960-01-03      17.50
1960-01-04      14.03
1960-01-05       3.40
1960-01-06      15.79
...               ...
2022-12-26       3.47
2022-12-27       3.37
2022-12-28       6.87
2022-12-29       8.09
2022-12-31       6.95

[18880 rows x 1 columns]

In [11]:
# Mean magnitude for each month
mean_mag_usgs = pd.DataFrame(usgs.groupby(usgs['time'].dt.to_period('D')).mag.mean())
print(mean_mag_usgs)

# Sum of magnitudes for each day
sum_mag_usgs = pd.DataFrame(usgs.groupby(usgs['time'].dt.to_period('D')).mag.sum())
print(sum_mag_usgs)

              mag
time
1960-01-02  4.040
1960-01-05  3.030
1960-01-07  3.640
1960-01-08  3.100
1960-01-11  3.790
...           ...
2022-12-09  3.000
2022-12-13  3.280
2022-12-17  3.570
2022-12-22  3.340
2022-12-31  3.805

[11447 rows x 1 columns]
             mag
time
1960-01-02  4.04
1960-01-05  3.03
1960-01-07  3.64
1960-01-08  3.10
1960-01-11  3.79
...          ...
2022-12-09  3.00
2022-12-13  3.28
2022-12-17  3.57
2022-12-22  3.34
2022-12-31  7.61

[11447 rows x 1 columns]

In [12]:
mean_mag_etas = mean_mag_etas.reset_index()
mean_mag_etas["ETAS"] = mean_mag_etas["Magnitude"]
mean_mag_etas = mean_mag_etas.drop(columns = ["Magnitude"])
mean_mag_etas.head()

         Date      ETAS
0  1960-01-02  3.388333
1  1960-01-03  3.500000
2  1960-01-04  3.507500
3  1960-01-05  3.400000
4  1960-01-06  3.158000

In [13]:
mean_mag_usgs = mean_mag_usgs.reset_index()
mean_mag_usgs['Date'] = mean_mag_usgs['time']
mean_mag_usgs["USGS"] = mean_mag_usgs["mag"]
mean_mag_usgs = mean_mag_usgs.drop(columns = ["mag"])
mean_mag_usgs = mean_mag_usgs.drop(columns = ["time"])
mean_mag_usgs.head()

         Date  USGS
0  1960-01-02  4.04
1  1960-01-05  3.03
2  1960-01-07  3.64
3  1960-01-08  3.10
4  1960-01-11  3.79

In [14]:
sum_mag_etas = sum_mag_etas.reset_index()
sum_mag_etas["ETAS"] = sum_mag_etas["Magnitude"]
sum_mag_etas = sum_mag_etas.drop(columns = ["Magnitude"])

sum_mag_usgs = sum_mag_usgs.reset_index()
sum_mag_usgs['Date'] = sum_mag_usgs['time']
sum_mag_usgs["USGS"] = sum_mag_usgs["mag"]
sum_mag_usgs = sum_mag_usgs.drop(columns = ["mag"])
sum_mag_usgs = sum_mag_usgs.drop(columns = ["time"])

merged_sum_mag = sum_mag_etas.merge(sum_mag_usgs, on='Date')
merged_sum_mag.head()

         Date   ETAS  USGS
0  1960-01-02  20.33  4.04
1  1960-01-05   3.40  3.03
2  1960-01-11  12.50  3.79
3  1960-01-18   3.20  3.37
4  1960-01-20   3.47  5.00

In [15]:
# Create new data frames to store energy values
import math

usgs_mean_energy = mean_mag_usgs.copy()
etas_mean_energy = mean_mag_etas.copy()
usgs_sum_mag_energy = sum_mag_usgs.copy()
etas_sum_mag_energy = sum_mag_etas.copy()
formula_constant = (1/1.5)

usgs_mean_energy['USGS'] = 10**(1.5*usgs_mean_energy['USGS'])
usgs_mean_energy['USGS'] = np.log(usgs_mean_energy['USGS']) * formula_constant

etas_mean_energy['ETAS'] = 10**(1.5*etas_mean_energy['ETAS'])
etas_mean_energy['ETAS'] = np.log(etas_mean_energy['ETAS']) * formula_constant

usgs_sum_mag_energy['USGS'] = 10**(1.5*usgs_sum_mag_energy['USGS'])
usgs_sum_mag_energy['USGS'] = np.log(usgs_sum_mag_energy['USGS']) * formula_constant

etas_sum_mag_energy['ETAS'] = 10**(1.5*etas_sum_mag_energy['ETAS'])
etas_sum_mag_energy['ETAS'] = np.log(etas_sum_mag_energy['ETAS']) * formula_constant

In [16]:
mean_energy_df = usgs_mean_energy.merge(etas_mean_energy, on='Date')
mean_energy_df['Date'] = mean_energy_df['Date'].dt.to_timestamp()
mean_energy_df.head()

        Date       USGS      ETAS
0 1960-01-02   9.302444  7.801926
1 1960-01-05   6.976833  7.828789
2 1960-01-11   8.726798  7.195578
3 1960-01-18   7.759712  7.368272
4 1960-01-20  11.512925  7.989970

In [17]:
sum_mag_energy_df = usgs_sum_mag_energy.merge(etas_sum_mag_energy, on='Date')
sum_mag_energy_df['Date'] = sum_mag_energy_df['Date'].dt.to_timestamp()
sum_mag_energy_df.head()

        Date       USGS       ETAS
0 1960-01-02   9.302444  46.811555
1 1960-01-05   6.976833   7.828789
2 1960-01-11   8.726798  28.782314
3 1960-01-18   7.759712   7.368272
4 1960-01-20  11.512925   7.989970

In [18]:
# Mean energy dataframe plot

mean_energy_df = usgs_mean_energy.merge(etas_mean_energy, on='Date')
mean_energy_df['Date'] = mean_energy_df['Date'].dt.to_timestamp()

# Create a Plotly figure
fig = px.line(mean_energy_df, x='Date', y=['ETAS', 'USGS'], labels={'value': 'Energy'}, title='ETAS vs USGS Mean Earthquake Energy')
fig.update_layout(
    width=1200,
    height=600,
)

fig.update_traces(line=dict(width=1.0))
# Add interactivity
fig.update_xaxes(rangeslider_visible=True)
fig.update_layout(dragmode='pan', hovermode='x')

# Show the interactive plot
fig.show()

ValueError: Mime type rendering requires nbformat>=4.2.0 but it is not installed

In [ ]:
# Sum mag energy dataframe plot

# Create a Plotly figure
fig = px.line(sum_mag_energy_df, x='Date', y=['ETAS', 'USGS'], labels={'value': 'Energy'}, title='ETAS vs USGS Sum Magnitude Energy')
fig.update_layout(
    width=1200,
    height=600,
)

fig.update_traces(line=dict(width=1.0))
# Add interactivity
fig.update_xaxes(rangeslider_visible=True)
fig.update_layout(dragmode='pan', hovermode='x')

# Show the interactive plot
fig.show()

ValueError: Mime type rendering requires nbformat>=4.2.0 but it is not installed